@font-face {
  font-family: "Hack";
  src: local("Hack Regular"), local("Hack"), url("/Hack-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Hack";
  src: local("Hack Bold"), local("Hack-Bold"), url("/Hack-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
/*body {
  font-family: "Hack", monospace !important;
  font-size: 16px;
}*/
a {
  cursor: pointer;
}
/*div.page {
  max-width: 600px;
  margin: 0 auto;
}*/
html:not(.light) a#theme {
  text-decoration: underline;
}
html.styling body {
  font-family: "Hack", monospace !important;
  font-size: 16px;
  background: #161716;
  color: #D7D7D8;
  margin: 0;
}
html.styling.light body {
  background: #FFFFFF !important;
  color: #161716 !important;
}
html.styling div.page {
  max-width: 600px;
  padding: 1rem 2rem;
  margin: 0 auto;
}
html.styling div.page p {
  margin: 2rem 0;
  line-height: 1.5;
}
html.styling div.page li p {
  margin: 1rem 0;
}
html.styling .nav {
  padding: 1rem 0;
}
html.styling .nav p {
  display: flex;
  justify-content: space-between;
}
html.styling .nav p a {
  justify-content: center;
}
html.styling h1 {
  font-size: 2em;
  font-weight: bold;
}
html.styling a {
  color: #6BF;
  cursor: pointer;
  text-decoration: none;
}
html.styling.light a {
  color: #161716;
  font-weight: bold;
}
html.styling a:hover {
  text-decoration: underline;
}
html.styling ul {
  list-style: square;
  margin: 2rem 0;
}
html.styling ul li ul {
  margin: 0.25rem 0;
}
/*html.styling ul span {
  margin-bottom: 1rem;
  display: block;
  font-weight: bold;
}*/
html.styling dl {
  list-style: none;
}
html.styling li {
  margin-bottom: 0.25rem;
  line-height: 1.5rem;
}
html.styling table {
  border-collapse: collapse;
}
html.styling td {
  border: 2px solid #161716;
  background: #1B1B1B;
  padding: 1rem;
}
html.styling pre {
  white-space: break-spaces;
  word-break: break-all;
/*  background: #1B1B1B;*/
  padding: 1rem;
}
html.styling code,
html.styling .highlight pre {
  font-family: "Hack", monospace !important;
  color: #97979A;
}
html.styling .highlight {
  line-height: 1.4;
}
html.styling img {
  max-width: 100%;
}
html.styling .small,
html.styling blockquote {
  color: #66666C;
  margin: 0;
}
html.styling hr {
  border-color: #66666C;
  border-style: dashed;
  margin: 2rem 0;
}
html.styling mark {
  background-color: #E3E463;
  color: #161716;
  padding: 4px 6px;
  font-size: 16px;
}
html.styling.light mark {
  background-color: #6BF !important;
}
html.styling #footer {
  padding: 1rem 0;
}
html.styling a#styling {
  text-decoration: underline;
}
/* code highlight */
html.styling .highlight .n      { color: #D7D7D8 !important; }

html.styling .highlight .s1,
html.styling .highlight .si     { color: #D7D7D8 !important; }

html.styling .highlight .c1     { color: #66666C !important; }

html.styling .highlight .mi     { color: #6BF !important; }

html.styling .highlight .nf,
html.styling .highlight .nb     { color: #6BF !important; }

html.styling .highlight .nc     { color: #6BF !important; font-weight: bold; }

#resume-contact {
  display: none;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
  .print-right {
    float: right !important;
  }
  body {
    font-family: serif !important;
    background: #FFFFFF !important;
    color: #000000 !important;
    font-size: 12px !important;
  }
  /*h1 {
    display: none !important;
  }*/
  /*h2 {
    font-size: 12px !important;
    margin: 2rem 0 !important;
    text-transform: uppercase !important;
  }*/
  /*h3 {
    font-size: 12px !important;
    margin: 0 !important;
    margin-top: 1rem !important;
    margin-bottom: 0.5rem !important;
  }*/
  a {
    color: #000000 !important;
    font-weight: normal !important;
  }
  p {
    margin: 0 !important;
    margin-bottom: 0.5rem !important;
    line-height: 1.2 !important;
  }
  mark {
    font-size: 12px !important;
    background: transparent !important;
    color: #000000 !important;
    padding: 0 !important;
    font-weight: normal !important;
  }
  ul {
    margin: 0.5rem 0 !important;
  }
  li {
    margin-bottom: 0.25rem !important;
    line-height: 1.2rem !important;
  }
  li p {
    margin: 0 !important;
    margin-bottom: 0.25rem !important;
    line-height: 1.2rem !important;
  }
  hr {
    display: none !important;
  }
}
