body {
  font-family: "Hack", monospace !important;
}
a {
  cursor: pointer;
}
div.page {
  max-width: 640px;
}
html:not(.invert) a#invert {
  text-decoration: underline;
}
/* styling  */
html.styling.invert {
  filter: invert(1);
}
html.styling body {
  background: #161716;
  color: #D7D7D8;
  font-size: 18px;
  margin: 0;
}
html.styling div.page {
  padding: 1rem 2rem;
  max-width: 900px;
  margin: 0 auto;
}
html.styling div.page p {
  margin: 2rem 0;
  line-height: 2rem;
}
html.styling .nav {
  padding: 1rem 0;
}
html.styling .nav p {
  display: flex;
  justify-content: space-between;
}
html.styling .nav p a {
  justify-content: center;
}
html.styling h1 {
  font-size: 2em;
  font-weight: bold;
}
html.styling a {
  color: #6BF;
  cursor: pointer;
  text-decoration: none;
}
html.styling a:hover {
  text-decoration: underline;
}
html.styling dl {
  list-style: none;
}
html.styling li {
  margin-bottom: 0.25rem;
}
html.styling pre {
  white-space: break-spaces;
  word-break: break-all;
  background: #1B1B1B;
  padding: 1rem;
}
html.styling code,
html.styling .highlight pre {
  font-family: "Hack", monospace !important;
  font-size: 80%;
  color: #97979A;
}
html.styling .highlight {
  line-height: 1.4;
}
html.styling img {
  max-width: 100%;
}
html.styling .small,
html.styling blockquote {
  font-size: 80%;
  color: #66666C;
}
html.styling hr {
  border-color: #66666C;
  border-style: dashed;
  margin: 2rem 0;
  max-width: 10%;
}
/*html.styling em {
  font-size: 80%;
  background: #66666C;
  padding: 4px 6px;
  border-radius: 4px;
  font-style: normal !important;
  float: right;
}*/
html.styling mark {
  background-color: #e3e463;
  color: #161716;
  padding: 4px 6px;
  font-size: 80%;
}
html.styling #footer {
  padding: 1rem 0;
}
html.styling a#styling {
  text-decoration: underline;
}
/* code highlight */
html.styling .highlight .n      { color: #D7D7D8 !important; }

html.styling .highlight .s1,
html.styling .highlight .si     { color: #D7D7D8 !important; }

html.styling .highlight .c1     { color: #66666C !important; }

html.styling .highlight .mi     { color: #6BF !important; }

html.styling .highlight .nf,
html.styling .highlight .nb     { color: #6BF !important; }

html.styling .highlight .nc     { color: #6BF !important; font-weight: bold; }

