body {
  background: #161716;
  color: #D7D7D8;
  font-family: 'Lucida Console', monospace;
}

div.page {
  max-width: 640px;
  padding: 4rem 2rem;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

a {
  color: #6BF;
}